* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: lightgray;   
    color: black;            
    line-height: 1.6;
}


header {
    text-align: center;
    background: steelblue;   
    color: white;
    padding: 30px 20px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
}

nav {
    background: darkslategray;  /* was #34495e */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: gold;   
}

section {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px gray; 
}

section h2 {
    margin-bottom: 10px;
    color: navy;  
}

section img {
    display: block;
    margin: 10px 0;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid gray;   
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background: steelblue;   
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: midnightblue;  
}

footer {
    text-align: center;
    padding: 15px;
    background: navy;   
    color: white;
    margin-top: 20px;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

